---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Content as Selfie } from "#/selfie.md";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col gap-4">
    <div class="overflow-x-auto">
      <pre
        class="mb-8 text-xs md:text-sm">
 ___   ___   ______   ___ __ __   ______
/__/\ /__/\ /_____/\ /__//_//_/\ /_____/\
\::\ \\  \ \\:::_ \ \\::\| \| \ \\::::_\/_
 \::\/_\ .\ \\:\ \ \ \\:.      \ \\:\/___/\
  \:: ___::\ \\:\ \ \ \\:.\-/\  \ \\::___\/_
   \: \ \\::\ \\:\_\ \ \\. \  \  \ \\:\____/\
    \__\/ \::\/ \_____\/ \__\/ \__\/ \_____\/
      </pre>
    </div>

    <div
      class="nobloger-animate transition-opacity duration-300 ease-in-out opacity-0"
    >
      <article
        class="prose dark:prose-invert prose-stone md:prose-lg prose-h1:text-3xl prose-h2:text-2xl prose-h3:text-xl"
      >
        <Selfie />
      </article>
    </div>
  </div>
</BaseLayout>
